.box{
    border-style:solid;
    border-width: 10px;
    border-color: #DC3535;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    background-color: white;
    opacity: 0.9;
}