.parent{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formbox{
    width:60vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.subbox{
    min-width: 50vw;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 10px;
}
.subbox h4{
    padding: 10px;
    width: 30%
}
.button h2{
    font-size: 1.5rem;
}
.button h2:hover{
    font-size: 1.7rem;
    transition: 0.3s;
}
@media only screen and (max-width: 960px){
    .formbox{
        width: 60vw;
    }
    .subbox{
        width: 100%;
        padding: 10px;
    }
    .subbox h4{
        padding: 4px;
        min-width: 30%
    }
}
@media only screen and (max-width: 600px){
    .formbox{
        width: 100vw;
    }
    .subbox{
        width: 100%;
        padding: 10px;
    }
    .subbox h4{
        padding: 0;
    }
    .parent{
        min-height: 85vh;
        padding: 1vh 3px;
    }
}