.parent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formbox{
    width:50vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #534bae;
}